/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}
 */

/* Use @import */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "./assets/primevue/tailwind.css";
@import "tailwindcss/utilities";

/* Custom Glow Effect */
@layer utilities {
  .glow {
    text-shadow: 0 0 10px #b40f0f, 0 0 20px #dba506, 0 0 30px #ffd700;
  }
}

/* Snowflakes */
.snowflake {
  position: absolute;
  top: -10%;
  width: 10px;
  height: 10px;
  opacity: 0.8;
  animation: fall linear infinite;
}

.snakeflake {
  position: absolute;
  top: -10%;
  width: 40px;
  height: 40px;
  opacity: 0.8;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(-10%) translateX(0);
  }
  100% {
    transform: translateY(110vh) translateX(20px);
  }
}

/* Door Animation */
.door {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.5s ease-in-out;
  transform: perspective(800px) rotateY(0deg);
  transform-origin: center;
}

.door:hover {
  transform: perspective(800px) rotateY(-160deg);
}

/* Default Tailwinds from PrimeVue */

/* Primary and Surface Palettes */
:root {
  --p-primary-50: #ecfdf5;
  --p-primary-100: #d1fae5;
  --p-primary-200: #a7f3d0;
  --p-primary-300: #6ee7b7;
  --p-primary-400: #34d399;
  --p-primary-500: #10b981;
  --p-primary-600: #059669;
  --p-primary-700: #047857;
  --p-primary-800: #065f46;
  --p-primary-900: #064e3b;
  --p-primary-950: #022c22;
  --p-surface-0: #ffffff;
  --p-surface-50: #fafafa;
  --p-surface-100: #f4f4f5;
  --p-surface-200: #e4e4e7;
  --p-surface-300: #d4d4d8;
  --p-surface-400: #a1a1aa;
  --p-surface-500: #71717a;
  --p-surface-600: #52525b;
  --p-surface-700: #3f3f46;
  --p-surface-800: #27272a;
  --p-surface-900: #18181b;
  --p-surface-950: #09090b;
  --p-content-border-radius: 6px;
}

/* Light */
:root {
  --p-primary-color: var(--p-primary-500);
  --p-primary-contrast-color: var(--p-surface-0);
  --p-primary-hover-color: var(--p-primary-600);
  --p-primary-active-color: var(--p-primary-700);
  --p-content-border-color: var(--p-surface-200);
  --p-content-hover-background: var(--p-surface-100);
  --p-content-hover-color: var(--p-surface-800);
  --p-highlight-background: var(--p-primary-50);
  --p-highlight-color: var(--p-primary-700);
  --p-highlight-focus-background: var(--p-primary-100);
  --p-highlight-focus-color: var(--p-primary-800);
  --p-text-color: var(--p-surface-700);
  --p-text-hover-color: var(--p-surface-800);
  --p-text-muted-color: var(--p-surface-500);
  --p-text-hover-muted-color: var(--p-surface-600);
}

/* 
* Dark Mode
* Defaults to system, change the selector to match the darkMode in tailwind.config.
* For example; 
* darkMode: ['selector', '[class*="app-dark"]'] 
* should be;
* :root[class="app-dark"] {
*/
@media (prefers-color-scheme: dark) {
  :root {
    --p-primary-color: var(--p-primary-400);
    --p-primary-contrast-color: var(--p-surface-900);
    --p-primary-hover-color: var(--p-primary-300);
    --p-primary-active-color: var(--p-primary-200);
    --p-content-border-color: var(--p-surface-700);
    --p-content-hover-background: var(--p-surface-800);
    --p-content-hover-color: var(--p-surface-0);
    --p-highlight-background: color-mix(in srgb, var(--p-primary-400), transparent 84%);
    --p-highlight-color: rgba(255, 255, 255, 0.87);
    --p-highlight-focus-background: color-mix(in srgb, var(--p-primary-400), transparent 76%);
    --p-highlight-focus-color: rgba(255, 255, 255, 0.87);
    --p-text-color: var(--p-surface-0);
    --p-text-hover-color: var(--p-surface-0);
    --p-text-muted-color: var(--p-surface-400);
    --p-text-hover-muted-color: var(--p-surface-300);
  }
}

.p-card {
  @apply flex flex-col rounded-xl
      bg-surface-0 dark:bg-surface-900 
      text-surface-700 dark:text-surface-0
      shadow-[0_1px_3px_0_rgba(0,0,0,0.1),0_1px_2px_-1px_rgba(0,0,0,0.1)];
}

.p-card-caption {
  @apply flex flex-col gap-2;
}

.p-card-body {
  @apply p-5 flex flex-col gap-2;
}

.p-card-title {
  @apply font-medium text-xl;
}

.p-card-subtitle {
  @apply text-surface-500 dark:text-surface-400;
}
